<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notification</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color:yellow;">
  <center><div class="container">
    <h1 style="color: red;" class="text-center title"><%= comment %></h1>  
    <br/> <br/>
    <h3><a href="/">Go Back</a></h3>
  </div></center>
</body>
</html>
